.box {
  background-color: #262626;
  border-radius: 4px;
  padding: 40px 34px 24px 34px;
  font-size: 0.9em;

  .heading {
    text-align: center;
    padding-bottom: 0.7em;
  }

  .btn {
    margin-top: 1em;
    width: 100%;
    font-size: 0.9em;
  }
}
