/* contains css global to the Asyncy org */

a {
  font-size:0.85em;
  text-decoration: none;
  color: white;
}

button {
  font-size: 0.8em;
  color: white;
  border: none;
  padding: 5px 32px;
  border-radius: 6px;
}

input {
  font-size:0.9em;
  border-radius: 6px;
  border: none;
  padding: 15px 20px;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.14);
  color: white;
}

h1  {
  font-size: 2.6em;
  margin-bottom: 0.20em;
  font-weight: 400;
  margin-top: 2.6em;
}

h2  {
  font-size: 2em;
  font-weight:300;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: 400;
}

h3  {
  font-size: 2em;
  font-weight:300;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  font-weight:300;
  margin-bottom: 0.7em;
  margin-top: 0.2em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight:300;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  font-weight: 400;
}

p {
  font-size:0.97em;
  line-height:1.9em;
}

subtitle {
  font-size: 1.05em;
  color: #B7B8C1;
}


button.primary {
  color:white;
  background-color: #515CF9;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  line-height: 38px;

}

button.secondary {
  color:black;
  background-color:white;
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 38px;
}