@media all and (max-width: 400px) {
  ul > .li {
    flex-basis: 100%;
    text-align: center;
  }

  .container {
    flex-basis: 100%;
  }

  .logoContainer {
    flex-basis: 100%;
    text-align: center;
  }

  nav {
    flex-basis: 100%;
  }
}

.li {
  display: inline-block;
  flex: 1 0 auto;
  text-align: right;
}